<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzx.chat">

    <!-- 允许程序振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许程序访问网络连接 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序可以读取设备外部存储空间 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".configure.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DefaultLightTheme">

        <activity android:name=".view.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/LoginTheme"
            android:launchMode="singleTask">

        </activity>


        <activity
            android:name=".view.activity.HomeActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".view.activity.ChatActivity">

        </activity>


        <activity
            android:name=".view.activity.QrCodeScanActivity"
            android:theme="@style/NoBackgroundDarkTheme">

        </activity>


        <activity
            android:name=".view.activity.ImageSelectorActivity"
            android:theme="@style/BaseDarkTheme">

        </activity>

        <activity
            android:name=".view.activity.FriendProfileActivity"
            android:theme="@style/TransparentStatusBarLightTheme">

        </activity>




        <activity android:name=".view.activity.TestActivity">

        </activity>







         <!-- 以下为环信-->
         <meta-data android:name="EASEMOB_APPKEY"  android:value="qq244546875#superchat" />
         <!-- 声明SDK所需的service SDK核心功能-->
         <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
         <service android:name="com.hyphenate.chat.EMJobService"
         android:permission="android.permission.BIND_JOB_SERVICE"
         android:exported="true"
         />
         <!-- 声明SDK所需的receiver -->
         <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
         <intent-filter>
         <action android:name="android.intent.action.PACKAGE_REMOVED"/>
         <data android:scheme="package"/>
         </intent-filter>
         <!-- 可选filter -->
         <intent-filter>
         <action android:name="android.intent.action.BOOT_COMPLETED"/>
         <action android:name="android.intent.action.USER_PRESENT" />
         </intent-filter>
         </receiver>


    </application>

</manifest>