<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzx.chat">

    <!-- 允许程序振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许程序访问网络连接 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序可以读取设备外部存储空间 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序使用录音设备 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许程序控制屏幕常亮了 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".configure.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DefaultLightTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="810aa1b6f44962b87f87059d20335acf" />
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="82hegw5u8dlsx" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <activity
            android:name=".mvp.view.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.view.activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/DefaultDarkTheme"></activity>
        <activity
            android:name=".mvp.view.activity.HomeActivity"
            android:theme="@style/NoBackgroundLightTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".mvp.view.activity.ChatActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".mvp.view.activity.QrCodeScanActivity"
            android:theme="@style/DefaultDarkTheme">

        </activity>
        <activity
            android:name=".mvp.view.activity.ImageMultiSelectorActivity"
            android:theme="@style/DefaultDarkTheme"></activity>
        <activity
            android:name=".mvp.view.activity.ImageViewPagerActivity"
            android:theme="@style/DefaultDarkTheme"></activity>
        <activity android:name=".mvp.view.activity.ContactProfileActivity"></activity>
        <activity
            android:name=".mvp.view.activity.FindNewContactActivity"
            android:theme="@style/NoBackgroundLightTheme"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity android:name=".mvp.view.activity.RemarkInfoActivity"></activity>
        <activity android:name=".mvp.view.activity.EditContactLabelActivity"></activity>
        <activity android:name=".mvp.view.activity.StrangerProfileActivity"></activity>
        <activity android:name=".mvp.view.activity.EditProfileActivity"></activity>
        <activity
            android:name=".mvp.view.activity.ImageSingleSelectorActivity"
            android:theme="@style/DefaultDarkTheme"></activity>
        <activity
            android:name=".mvp.view.activity.ImageOriginalActivity"
            android:theme="@style/DefaultDarkTheme"></activity>
        <activity android:name=".mvp.view.activity.GroupProfileActivity"></activity>
        <activity
            android:name=".mvp.view.activity.CreateGroupActivity"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity
            android:name=".mvp.view.activity.MyQRCodeActivity"
            android:theme="@style/NoBackgroundLightTheme"></activity>
        <activity android:name=".mvp.view.activity.LocationMapActivity"></activity>
        <activity
            android:name=".mvp.view.activity.VideoRecorderActivity"
            android:theme="@style/NoBackgroundLightTheme"></activity>
        <activity android:name=".mvp.view.activity.GroupListActivity" />
        <activity
            android:name=".mvp.view.activity.CropImageActivity"
            android:theme="@style/DefaultDarkTheme"></activity>
        <activity
            android:name=".mvp.view.activity.VideoPlayActivity"
            android:theme="@style/DefaultDarkTheme"></activity>

        <activity android:name=".mvp.view.activity.NotificationMessageActivity">

        </activity>

        <receiver android:name=".broadcast.UninstallReceive">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".mvp.view.activity.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>